.container {
  width: 600px;
}

.tabs {
  display: flex;
}

.content {
  height: 716px;
  overflow-y: auto;
}

/* Стили для скроллбара (по желанию, но они есть в стартере) */
.content::-webkit-scrollbar {
  width: 8px;
}
.content::-webkit-scrollbar-track {
  background: #2f2f37;
}
.content::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}
